.search-my-masonry-grid {
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    width: 90%;
  }
  .search-my-masonry-grid_column {
    background-clip: padding-box;
    padding-left: 20px;
  }
   
  @media (max-width: 768px) {
    
    .search-my-masonry-grid_column {
        padding-left: 20px;
      
    }
    .search-my-masonry-grid_column > div {
      margin-bottom: 15px; 
    }
  } 

  @media (max-width: 425px) {
    
    .search-my-masonry-grid_column {
        padding-left: 0px;
      
    }
    .search-my-masonry-grid_column > div {
      margin-bottom: 15px; 
    }
  } 

  @media (max-width: 375px) {
    
    .search-my-masonry-grid_column {
        padding-left: 0px;
      
    }
    .search-my-masonry-grid_column > div {
      margin-bottom: 15px; 
    }
  } 
 